- var Menulist = types

{% load static %}
doctype html
html(lang="en")
{% load require %}
head
    link(href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css", rel="stylesheet")
    link(href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}" type="text/css", rel="stylesheet")
{% require_module '../../app' %}
title="Sup"
body
    nav.navbar.navbar-default
        .container
            .navbar-header
                button.navbar-toggle.collapse(type="button", data-toggle="collapse", data-target="#menu-collapse", aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") Mama's Kitchen
            .collapse.navbar-collapse#menu-collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Menu
                            span.caret
                        ul.dropdown-menu
                            for item, i in Menulist
                                li: a(href="#{item}")= item